.background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(2vw);
}

.img-holder {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img {
  width: 100vw;
}
