<ion-content>

  <ion-button expand="block" href="mirror" size="large">
    <ion-icon name="camera-reverse-outline" slot="start"></ion-icon>
    Mirror
  </ion-button>

  <ion-button color="secondary" expand="block" href="tappy" size="large">
    <ion-icon name="star-outline" slot="start"></ion-icon>
    Tappy
  </ion-button>

  <ion-button color="tertiary" expand="block" href="face-time" size="large">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    Face Time
  </ion-button>

</ion-content>
